/* .navbar .brand-color */
.navBarDesign {
    background: linear-gradient(to right, #e30055, #0083c9, #009948);
    color: #ffffff !important;
    font-size: 22px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}

.nav-item {
    /* padding-left: 20px; */
    margin-left: 18px;
    margin-right: 18px;
}

.nav-link {
    color: #ffffff !important;
}