/* .navbar .brand-color */
.navBarDesign {
    background: linear-gradient(to right, #e30055, #0083c9, #009948);
    color: #ffffff !important;
    font-size: 22px;
    /* font-weight: regular; */
    padding-left: 3%;
    padding-right: 3%;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link {
    color: #ffffff !important;
    text-decoration: none;
    padding: 8px 24px !important;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(20, 17, 95, 0.25);
}

.nav-link.active {
    font-weight: bold;
    background-color: rgba(20, 17, 95, 0.5);
}