.greeting1 {
    margin-top: 25px;
    font-size: 48px;
}
.greeting2 {
    margin-bottom: 15px;
    font-size: 36px;
}

.Image {
    border-radius: 30px;
}

.card-container {
    display: grid;
    margin: 5%;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 10px;
}

.card-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #0083c9;
}